*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgba(0, 0, 0, 0.9); */
}
.navigation{
    width: 100%;
    border: 1px solid black;
    height: 70px;
    display: flex;
    justify-content: space-around;
    /* margin-top: 40px; */
    background: grey;
    position: fixed;
    left: 0;
    top: 0;

}
.navigation>h4:hover{
  background-color: white;
}



/* .leftNav {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 1%;
    z-index: 9999;
  }
  .leftNav > h1 {
    cursor: pointer;
  }
  
  .dropSideNav {
    width: 22%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 5%;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  .DropDownContainer {
    width: 90%;
    height: 80%;
     border: 1px solid red; 
    margin: 0 auto;
    color: aqua;
  }
  
  .DropDownContainer > h2 {
    text-align: center;
    margin: 12% 0;
    letter-spacing: 1.5px;
  }
  .DropDownContainer > h2:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: aqua;
    color: white;
  }
  
  .logout {
    color: red;
    letter-spacing: 5px;
    text-align: center;
    cursor: pointer;
  } */